body {
  margin: 0px 0px 30px 0px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

.header {
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(black, rgb(52, 0, 0), rgb(0, 0, 0, 0));
  z-index: 1;
  cursor: pointer;
}

h2 {
  color: antiquewhite;
  font-family: "Courier New", Courier, monospace;
}

.thumbsContainer {
  display: grid;
  gap: 1.5rem;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(3, 250px); */
  grid-template-columns: repeat(5, 1fr);
  overscroll-behavior: contain;
}

.imgContainer {
  width: 16vw;
  height: 12.8vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blueviolet;
  border-radius: 3%;
}

.imgThumb {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
  cursor: pointer;
}

.imgThumb:hover {
  scale: 1.05;
}

.selected {
  border: 1px solid antiquewhite;
  filter: drop-shadow(0px 0px 7px antiquewhite);
  scale: 1.03;
}

/* //////////////////////////////////////// */
/* whith open an image */

.biggerImageBackground {
  position: fixed;
  bottom: 0px;
  height: 100%;
  width: 100%;
  background-color: blueviolet;
  opacity: 50%;
  transition: 1s;
}
.thumbsContainer2 {
  filter: blur(10px);
  transition: 1s;
}
.body2 {
  overflow-y: hidden;
}

.biggerImgFrame {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-45%);

  /* when open */
  /* visibility: visible; */
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.biggerImgFrameClosing {
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

.bigImg {
  max-width: 75vw;
  max-height: 75vh;
  border: solid 5px silver;
  /* how to animate openning image??? */

  /* in resize */
  transition: 0.5s;
  image-rendering: crisp-edges;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* //////////////////////////////////////// */
/* in opened image */

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 3vw;
  height: 3vw;
  border-radius: 10px;
  opacity: 50%;
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  color: aliceblue;
  cursor: pointer;
}

.closeButton:hover {
  opacity: 100%;
}

.rightButton {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 10px;
  width: 4vw;
  height: 8vw;
  border-radius: 100% 0 0 100% / 50%;
  opacity: 50%;
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;

  color: aliceblue;
  cursor: pointer;
}
.rightButton:hover {
  opacity: 100%;
}
.leftButton {
  position: absolute;
  top: 50%;
  translate: 0 -50%;

  left: 10px;
  width: 4vw;
  height: 8vw;
  border-radius: 0 100% 100% 0/ 50%;
  opacity: 50%;
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: aliceblue;
  cursor: pointer;
}
.leftButton:hover {
  opacity: 100%;
}

@media only screen and (max-width: 1400px) {
  .thumbsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
  .imgContainer {
    width: 20vw;
    height: 16vw;
  }
}

@media only screen and (max-width: 700px) {
  .thumbsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .imgContainer {
    width: 25vw;
    height: 20vw;
  }
  .closeButton {
    width: 4vw;
    height: 4vw;
    font-size: 3vw;
  }
  .leftButton {
    font-size: large;
  }
  .rightButton {
    font-size: large;
  }
}

@media only screen and (max-width: 490px) {
  .thumbsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .imgContainer {
    width: 40vw;
    height: 32vw;
  }
}
